* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(135deg, #FFDEE9, #B5FFFC);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

/* Seção hero */
.hero {
  text-align: center;
  color: #ff5e78;
  padding: 40px 20px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  margin: 20px;
  animation: fadeIn 2s ease-out;
}

.hero h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #ff5e78;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.photos {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.photos img {
  width: 150px;
  height: 150px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.photos img:hover {
  transform: scale(1.1);
}

/* Barra de Navegação */
.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  box-shadow: 0 -2px 15px rgba(0, 0, 0, 0.2);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff5e78;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.nav-item img {
  width: 30px;
  height: 30px;
  margin-bottom: 8px;
  transition: transform 0.3s;
}

.nav-item:hover img {
  transform: scale(1.2);
}

.nav-item span {
  font-size: 1rem;
  font-weight: 500;
}

/* Animação */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}


/* Estilos para o Timer */
.timer {
  text-align: center;
  color: #ff5e78;
  margin: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.timer h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  font-weight: 600;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

#love-timer {
  font-size: 1.5rem;
  font-weight: bold;
}


/* Seção de Mensagem do Dia */
.mensagem-section {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.mensagem-container {
  background: rgba(255, 255, 255, 0.7);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
  animation: fadeIn 2s ease-out;
}

.mensagem-container h2 {
  font-size: 2rem;
  color: #ff5e78;
  margin-bottom: 15px;
}

.mensagem-container p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6;
}


/* Cabeçalho com título romântico */
.header {
  text-align: center;
  color: #ff5e78;
  padding: 40px 20px;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(15px);
  border-radius: 15px;
  margin: 20px;
  animation: fadeIn 2s ease-out;
}

.h1h2 {
  text-align: center;
  background: rgba(255, 255, 255, 0.7);
  padding: 30px;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 0 auto;
  animation: fadeIn 2s ease-out;
  max-height: 300px;  /* Defina a altura máxima */
  overflow-y: auto;   /* Adiciona barra de rolagem quando o conteúdo exceder o max-height */
}


.header h1 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.header p {
  font-size: 1.5rem;
  color: #ff5e78;
  margin-top: 10px;
}








